.modal-add-user {
    .modal-header {
        background-color: #53d9d0 !important;
        height: 4rem !important;
        h5.modal-title {
            color: #000;
            font-weight: bold !important;
            font-size: 1.5rem !important;
        }
        button.close {
            padding: 0 0.7rem;
            border: none;
            border-radius: 0.5rem;
            background: transparent;
            font-size: 2.5rem;
            color: #000;
        }
        button.close:hover {
            color: #fff;
        }
    }
    .modal-body {
        .form-row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -5px;
            margin-left: -5px;
            .col-6 {
                padding-right: 5px;
                padding-left: 5px;
            }
        }
        .form-group {
            select {
                -webkit-appearance: auto;
                option {
                    font-size: 1.1rem;
                }
            }
        }
        .show-hide-password {
            position: relative;
        }
        .icon-show-hide-password {
            position: absolute;
            right: 1rem;
            top: 2.2rem;
            cursor: pointer;
        }
    }
    .modal-footer {
        button {
            padding: 0 0.5rem;
        }
        .btn-add {
            color: #000;
            background-color: #00ff49;
        }
        .btn-add:hover {
            opacity: 0.7;
        }
    }
}
